{% extends "index.html" %}

{% block mainbody %}

<button type="submit" id="search-addr" onclick="search_by_addr()">地址查询</button>
<button type="submit" id="search-name" onclick="search_by_name()">关键字查询</button>

<h2 id="title">地址信息查询</h2>
<form action="/search/" method="get">
        <span style="font-size:15pt;">
            <input type="radio" name="ver" value="JP" {% if ver == "JP" %} checked="checked" {% endif %} required="required" >日韩版(pk1.1.1)
            <input type="radio" name="ver" value="FZ" {% if ver == "FZ" %} checked="checked" {% endif %}>繁中版(pk1.1.0)
        </span>
    <br><br>
    <span style="font-size:15pt;" id="input-title">内存地址:</span>
        <input id="input-key" type="text" style="font-size:15pt;" name="address" pattern="[0-9a-fA-F]{6,10}" required="required" title="请输入16进制内存地址" value="{{ value }}">
        <input type="submit" value="查询" style="font-size:15pt;">

</form>
{% if found %}
<p>
    <span style="color:blue;font-size:15pt;">{{ result|safe }}</span>
</p>
{% else %}
<p>
    <span style="color:red;font-size:15pt;">{{ result|linebreaksbr }}</span>
</p>
{% endif %}
{% if type == "name" %}
    <table width = '400' border="1">
        <thead>
        <tr>
            <th align="center">地址(HEX)</th>
            <th align="center">名称</th>
        </tr>
        </thead>
        <tbody>
        {% for addr,name in result_list %}
        <tr>
            <td align="center">{{ addr }}</td>
            <td align="center">{{ name }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

<script>
    function search_by_addr(){
        var input;
        document.getElementById("title").innerHTML = "地址信息查询";
        document.getElementById("input-title").innerHTML = "内存地址:";
        input = document.getElementById("input-key");
        input.name = "address";
        input.pattern = "[0-9a-fA-F]{6,10}";
        input.title = "请输入16进制内存地址";
    }
    function search_by_name(){
        var input;
        document.getElementById("title").innerHTML = "关键字查找内存";
        document.getElementById("input-title").innerHTML = "关键字:";
        input = document.getElementById("input-key");
        input.name = "name";
        input.pattern = "*";
        input.title = "请输入关键字";
    }

    {% if type == "addr" %}
        search_by_addr();
    {% elif type == "name" %}
        search_by_name();
    {% endif %}
</script>

{% endblock %}